body{
    background-color: black;
    font-family:serif;
}

h1{
    text-align: center;
    color: white;
}

#taskForm{
    text-align: center;
    color: black;
    border-radius: 3px;
    background-size: 3px;
    position: relative;

}

#submitButton{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 3px;
    background-size: 3px;
    position: relative;
}

#clearButton{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 3px;
    background-size: 3px;
    position: relative;
}

#displayBox{
    text-align: center;
    list-style-position: inside;
    color: white;
    /* Makes outline box */
    box-sizing: border-box; /* Crucial: border won't expand the box */
    border-radius: 3px;
    margin: 0 auto;
    width: 50%;            /* Or a fixed px value */
    border: 2px solid white;
    padding: 10px;;
    white-space: normal;
    overflow-wrap: break-word;
    flex-wrap: wrap;   
    /* Sets Verical size*/ 
    height: 500px;
    overflow-y: auto;
    background-color: gray;
}

h2{
    text-align: center;
    color: white;

}

/*Desgin for buttons next to each list item*/
.delete-btn{
    background-color:white;
    color: black;
    border-radius: 3px;
    background-size: 3px;
    position: relative;
    margin: 10px;
    margin-right: 0px;
    height: 20px;
    vertical-align: middle;

}

.move-Icon{
    border-radius: 3px;
    background-size: 3px;
    position: relative;
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;    
    vertical-align: middle;
    height: 20px;
}
.delete-btn.hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,0.5);
}